<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="crmConnectionString" connectionString="AuthType=Office365;Url=https://teste.crm2.dynamics.com;Username=admin@teste.com.br;Password=teste"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
